@import '../shared/styles/main.scss';

.boardContainer {
  height: calc(100vh - 8rem);
  overflow-y: hidden;
}

.boardHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.boardHederButton {
  @include button-reset;
  height: 42px;
  padding-right: 0.5rem;
  margin: 5px 10px 5px 0;
  border-radius: $border-radius-s;
  outline: none;
  background-color: $color-white;
  font-size: 16px;
  color: $color-button-blue;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    color: $color-white;
    background-color: lighter($color-button-blue, 2);
    border: $border-width $border-style $color-gray;
  }
}

.boardContent {
  display: flex;
  text-align: center;
  overflow-x: auto;
  padding: 1rem 0 0 1rem;
  margin: 0;
  @media (max-width: 767px) {
    padding: 1rem 0 0 0;
  }

  .element {
    display: flex;
    flex-shrink: 0;
  }

  .element:not(:last-child) {
    margin-right: 0.5em;
  }
}
