.containerPage {
  display: flex;
  flex-flow: column;
  margin: 10px auto;
}

.containerButton {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}

.description {
  margin: 10px auto;
  font-size: 24px;
  font-weight: 700;
}

.smallFilmCard {
  border-radius: 6px;
  border: 1px solid #b3cbf7;
  overflow: hidden;
  position: relative;
  margin: 16px;
  width: 200px;
  height: 330px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.smallFilmCardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.smallFilmCard:hover {
  z-index: 3;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  background-color: #8271dd66;
}
  
.smallFilmCardImage {
  position: relative;
  z-index: 1;
}

.smallFilmCardArticle {
  font-size: 17px;
  font-weight: 500;
  width: 96%;
  margin: 3px auto;
}
  
.smallFilmCardTitle {
  padding: 27px 6px;
  flex-direction: column;
  display: flex;
  font-weight: 300;
  align-items: center;
}

@media (max-width: 768px) {
  .smallFilmCardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }
}
  