.stickyWrapper {
  position: relative;
}

.sticky .stickyInner {
  position: fixed;
  top: 0;
  z-index: 0;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}

.header {
  top: 0;
  z-index: 5;
  padding: 25px 0;
  display: flex;
  justify-content: right;
  background: rgb(76, 109, 255);
}
.dodgeHeader .header {
  background: rgb(11, 51, 230);
  padding: 35px 0;
}

.text {
  color: aliceblue;
}
.textBody {
  text-shadow: #222;
  margin-top: 1rem;
}

.editProfileButton {
  background-color: #0057ba;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.editProfileButton {
  background-color: white;
  color: #0057ba;
}

.editProfileButton:hover {
  background-color: #0057ba;
  color: white;
}

.styled {
  margin: 3px 20px 3px 4px;
  border-radius: 2px;
}

> Button {
  margin-right: 5px;
}

.inputNewBoardModal {
  border-radius: 5px;
  font-size: 16px;
  background: rgb(246, 246, 246);
  width: 50%;
  border: 0;
  padding: 4%;
  margin: 10% 0% 4% 20%;
}
