@import '../../../shared/styles/main.scss';

.column {
  position: relative;
  margin: 0.5rem;
  width: 19rem;
  height: calc(100vh - 17rem);
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.2rem;
  background: $color-secondary-bg;
  border: 0.05rem solid $color-base-sage;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  &:hover {
    box-shadow: 0 1px 4px rgba(179, 175, 143, 1),
    -23px 0 20px -23px rgba(179, 175, 143, .8),
    23px 0 20px -23px rgba(179, 175, 143, .8),
    0 0 40px rgba(179, 175, 143, .1) inset;
    cursor: move;
  }
}

.columnHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem 0.5rem 1rem;
  justify-content: space-between;
  border-bottom: 1px solid $color-base-sage;
  background: lighter($color-base-sage, 3);
  &:hover {
    background: $color-secondary-bg;
    cursor: pointer;
  }
  form {
    width: 100%;
    height: 30px;
    input[type='text'] {
      width: calc(100% - 4.5rem);
      padding: 0.3rem 0.2rem;
      margin-bottom: 0.5rem;
      font-size: 16px;
      border: none;
      background: $color-secondary-bg;
      outline: none;
    }
  }
}

.error {
  font-size: small;
  color: $color-error;
}

.columnDelete,
.columnCancel,
.columnSubmit {
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 0.3rem;
}

.columnDelete {
  background-color: darker($color-gray, 3);
  mask-image: url('../../../assets/svg/delete.svg');
  &:hover {
    background-color: darker($color-error, 3);
  }
}

.columnCancel {
  @include button-reset;
  background-color: darker($color-gray, 3);
  mask-image: url('../../../assets/svg/cancel.svg');
  &:hover {
    background-color: darker($color-error, 3);
  }
}

.columnSubmit {
  @include button-reset;
  background-color: darker($color-gray, 3);
  mask-image: url('../../../assets/svg/ok.svg');
  &:hover {
    background-color: darker($color-success, 3);
  }
}

.columnBody {
  overflow: auto;
}

.columnContent {
  padding: 1rem;
  overflow-y: scroll;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}
