.stickyWrapper {
  position: relative;
  //height: 1rem; probably you need to set height value for wrapper
}

.sticky .sticky--inner {
  position: fixed;
  top: 0;
  z-index: 1;
}
.sticky {
  position: sticky;
  top: 0;
}

.header {
  padding: 25px 0;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: rgb(76, 109, 255);
}

.text {
  color: aliceblue;
}
.textBody {
  text-shadow: #222;
  margin-top: 1rem;
}

.editProfileButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.editProfileButton {
  background-color: white;
  color: black;
  border: 2px solid #0057ba;
}

.editProfileButton:hover {
  background-color: #0057ba;
  color: white;
}

/* .styled select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 35px;
} */
.styled {
  margin: 4px 2px;
  /*  margin: 50px;
  width: 120px;
  height: 35px;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
} */
}
