@import '../../shared/styles/main.scss';

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  ul {
    margin-top: 1rem;
  }
}

.userForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  .topForm {
    width: 100%;
    display: wrap;
    justify-content: center;
    align-items: center;
  }
}

.error {
  font-size: small;
  color: $color-error;
}

.labelInput {
  margin: 10px;
  text-align: left;
  color: $color-gray;
  input {
    width: 95%;
    height: 30px;
    padding: 2px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgb(246, 246, 246);
    border: 0;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 11px;
    @media (max-width: 481px) {
      width: 90%;
      transition: 0.5s;
    } 
    &:focus,
    &:active {
      border: 0;
      outline: none !important;
    }
  }
}

.labelTextarea {
  margin: 10px;
  text-align: left;
  color: $color-space-cadet;
  textarea {
    width: 95%;
    height: 150px;
    padding: 2px 10px;
    @media (max-width: 481px) {
      width: 90%;
      transition: 0.5s;
    }
    &:focus {
      border: $border-width $border-style;
      outline: none !important;
    }
  }
}

.button {
  height: 28px;
  width: 175px;
  margin-top: 20px;
  border: $border-width $border-style $color-gray;
  border-radius: $border-radius-m;
  outline: none;
  background-color: $blueFire;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-white;
  transition: 0.3s;

  &:hover {
    color: $color-white;
    cursor: pointer;
    background-color: darken($blueFire, 2%);
    border: $border-width $border-style $color-gray;
  }
}
